	<!-- Main Navbar -->
	<nav class="navbar navbar-inverse navbar-static-top" role="navigation">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="index.html">
					<img src="assets/img/logo-light.png" alt="Website Logo">
				</a>
			</div>
			<!-- Navbar -->
			<div class="collapse navbar-collapse navbar-main-collapse">
				<ul class="nav navbar-nav">
					
					<li class="active">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">Home <b class="caret"></b></a>
						<ul class="dropdown-menu">
							<li><a href="index.html">Index</a></li>
							<li><a href="contact_1.html">Contact 1</a></li>
							<li><a href="contact_2.html">Contact 2</a></li>
						</ul>
					</li>
					<li class="dropdown">
						<a href="#link" class="dropdown-toggle" data-toggle="dropdown">Blog <b class="caret"></b></a>
						<ul class="dropdown-menu">
							<li><a href="blog_1.html">Large Preveiw</a></li>
							<li><a href="blog_2.html">Small Preview</a></li>
							<li><a href="blog_3.html">Magazine Grid</a></li>
							<li><a href="blog_4.html">Pinterest Grid</a></li>
							<li class="divider"></li>
							<li><a href="blog_post.html">Single Post</a></li>
							<li><a href="blog_post_2.html">Single Post 2</a></li>
						</ul>
					</li>
					<li class="dropdown">
						<a href="#link" class="dropdown-toggle" data-toggle="dropdown">Marketing <b class="caret"></b></a>
						<ul class="dropdown-menu">
							<li><a href="marketing_1.html">Lead Capture</a></li>
							<li><a href="marketing_2.html">Countdown</a></li>
						</ul>
					</li>
					<li class="dropdown">
						<a href="#link" class="dropdown-toggle" data-toggle="dropdown">Ecommerce <b class="caret"></b></a>
						<ul class="dropdown-menu">
							<li><a href="ecommerce_1.html">Large Thumbnails</a></li>
							<li><a href="ecommerce_2.html">Small Thumbnails</a></li>
							<li><a href="ecommerce_3.html">List Thumbnails</a></li>
							<li class="divider"></li>
							<li><a href="ecommerce_product.html">Product Page</a></li>
						</ul>
					</li>
					<li class="dropdown">
						<a href="#link" class="dropdown-toggle" data-toggle="dropdown">Portfolio <b class="caret"></b></a>
						<ul class="dropdown-menu">
							<li><a href="portfolio_showcase.html">Showcase</a></li>
							<li><a href="portfolio_item_1.html">Item Page 1</a></li>
							<li><a href="portfolio_item_2.html">Item Page 2</a></li>
						</ul>
					</li>
					<li><a href="style_guide.html">Components</a></li>
				</ul><!-- /.navbar-nav -->
			</div><!-- /.collapse -->
		</div><!-- /.container -->
	</nav><!-- /.navbar -->

	<section class="wrapper-lg">
		<div class="container">
			<div class="row">
				<!-- Post column -->
				<div class="col-sm-7 col-sm-offset-1 padding-md bg-light">
					<!-- The post -->
					<article class="post">
						<img class="post-cover" src="assets/img/slide-1.jpg" alt="img"/>
						<h1><i class="fa fa-file-text-o"></i> Kickstarting Your Rails Education</h1>
						<p><i class="fa fa-clock-o"></i> Oct 3, 2014 - By <a href="#link">Chief Editor</a> <i class="fa fa-comments"></i> <a href="#link">32 Comments</a></p>
						<ol class="breadcrumb">
							<li><a href="#">Tutorials</a></li>
							<li><a href="#">Design</a></li>
							<li class="active">General</li>
						</ol>
						<br class="spacer-lg">

						<h3 class="text-center">A quick overview</h3>
						<p>Unlike many designers, Benjamin never formally trained at a design school. Instead, he learned his skills through observation, self-directed study and work experience. He currently is senior product designer at National Public Radio (NPR). Prior to that, he was lead product designer at Graphikaria, a position that took him and his wife to Berlin, where he helped to shape the audio service across multiple platforms. Away from his desk, he is an experimental musician and composer.</p>
						<br class="spacer-lg">

						<h3 class="text-center">A little advice</h3>
						<blockquote class="blockquote-secondary">
							<p>The team at Graphikaria is a fairly small design team, but it is continually expanding. At the moment, about eight people are on the design team working here at the Berlin headquarters.</p>
							<small><cite>Cooper Black <br> CEO Graphikaria Co.</cite></small>
						</blockquote>
						<dl class="dl-horizontal">
							<dt>Description lists</dt>
							<dd>A description list is perfect for defining terms.</dd>
							<dt>Euismod</dt>
							<dd>Vestibulum id ligula porta felis euismod semper eget lacinia odio sem nec elit.</dd>
							<dd>Donec id elit non mi porta gravida at eget metus.</dd>
							<dt>Malesuada porta</dt>
							<dd>Etiam porta sem malesuada magna mollis euismod.</dd>
							<dt>Felis euismod semper eget lacinia</dt>
							<dd>Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</dd>
						</dl>
						<br class="spacer-lg">

<h3 class="text-center">Let's see a code example</h3>
<pre class="line-numbers"><code class="language-markup">&lt;!-- Load prism.js and any of its css themes --&gt;
&lt;head&gt;
	&lt;link href="assets/css/prism.css" rel="stylesheet" /&gt;
	&lt;link href="assets/css/prism-line-numbers.css" rel="stylesheet" /&gt;
	&lt;script src="assets/js/prism.js"&gt;&lt;/script&gt;
	&lt;script src="assets/js/prism-line-numbers.js"&gt;&lt;/script&gt;
&lt;/head&gt;
&lt;!-- Wrap your code --&gt;
&lt;body&gt;
	&lt;pre class="line-numbers"&gt;
		&lt;code class="language-markup"&gt;
			&lt;p&gt;Lorem ipsum bootstrap&lt;/p&gt;
		&lt;/code&gt;
	&lt;/pre&gt;
&lt;/body&gt;</code></pre>
<br class="spacer-lg">

						<h3 class="text-center">And that's a wrap!</h3>
						<p>When I discovered Graphikaria nearly six years ago, it became the perfect platform to share my music with many communities. Over time, I became actively involved in projects such as the Disquiet Junto. After a while, and after being named a Graphikaria Hero, I was approached by them about a design role here in Berlin. I decided that working at Graphikaria would be the perfect marriage of design and music, and it involved living abroad, so I took the job.</p>
						<br class="spacer-xl">
						<hr>
						<ul class="tags">
							<li><strong>Post tags:</strong></li>
							<li><a href="#link">design</a></li>
							<li><a href="#link">photography</a></li>
							<li><a href="#link">type</a></li>
							<li><a href="#link">web</a></li>
						</ul>
					</article><!-- /.post -->
					<div class="well well-lg text-center">
						<h2 class="h3">Sharing is caring ;)</h2>
						<p>
							<a href="#link" class="btn btn-facebook"><i class="fa fa-facebook-square"></i> Share</a>
							<a href="#link" class="btn btn-twitter"><i class="fa fa-twitter-square"></i> Share</a>
							<a href="#link" class="btn btn-google-plus"><i class="fa fa-google-plus-square"></i> Share</a>
							<a href="#link" class="btn btn-linkedin"><i class="fa fa-linkedin-square"></i> Share</a>
						</p>
					</div>
					<div class="widget widget-dashed padding-sm bg-light">
						<div class="media">
							<a class="pull-left" href="#"><img class="media-object" data-src="holder.js/64x64" alt="img"></a>
							<div class="media-body">
								<h2 class="h3 media-heading"><i class="fa fa-file-text-o"></i> About <a href="#link">Lucida Sans</a></h2>
								Lucida Sans is founder of technology news site Graphikaria with a reported $2.5m investment from investors including Cooper Black and Calisto MT.
								<p><a href="#link" class="btn btn-xs btn-primary">www.LucidaSans.com</a> <a href="#link" class="btn btn-xs btn-facebook"><i class="fa fa-facebook-square"></i> Facebook</a> <a href="#link" class="btn btn-xs btn-twitter"><i class="fa fa-twitter-square"></i> Twitter</a></p>
							</div><!-- /.media-body -->
						</div><!-- /.media -->
					</div>

					<h2>Comments</h2>
					<p class="lead"><span class="fa fa-comments"></span> 3 Comments so far</p>
					<div class="media">
						<a class="pull-left" href="#"><img class="media-object" data-src="holder.js/64x64" alt="img"></a>
						<div class="media-body">
							<h4 class="media-heading heading-default"><a href="#link">Cooper Black</a></h4>
							Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
						</div><!-- /.media-body -->
					</div><!-- /.media -->
					<div class="media">
						<a class="pull-left" href="#"><img class="media-object" data-src="holder.js/64x64" alt="img"></a>
						<div class="media-body">
							<h4 class="media-heading heading-default"><a href="#link">Calisto MT</a></h4>
							Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
							<div class="media">
								<a class="pull-left" href="#"><img class="media-object" data-src="holder.js/64x64" alt="img"></a>
								<div class="media-body">
									<h4 class="media-heading heading-default"><a href="#link">Lucida Sans</a> <small><span class="label label-primary">Post Author</span></small></h4>
									Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
								</div><!-- /.media-body -->
							</div><!-- /.media -->
						</div><!-- /.media-body -->
					</div><!-- /.media -->
					<br class="spacer-xl">
					<h2>Leave your comment:</h2>
					<form role="form">
						<div class="form-group">
							<label for="example-comment-email">Email address:</label>
							<input type="email" class="form-control input-lg" id="example-comment-email" placeholder="Enter email">
						</div>
						<div class="form-group">
							<label for="example-comment-name">Your name:</label>
							<input type="text" class="form-control input-lg" id="example-comment-name" placeholder="Enter your name">
						</div>
						<div class="form-group">
							<label for="example-comment-message">Your message:</label>
							<textarea class="form-control input-lg" id="example-comment-message" rows="6" placeholder="Write your comment here"></textarea>
						</div>
						<div class="checkbox">
							<label>
								<input type="checkbox"> Notify me of follow up comments
							</label>
						</div>
						<button type="submit" class="btn btn-primary">Submit comment</button>
					</form>
					<br class="spacer-md">
					<div class="alert alert-warning">
						<i class="fa fa-info-circle"> Your comment must await for moderation</i>
					</div>

				</div><!-- /.col --> <!-- End of blog column -->
				<!-- Sidebar column -->
				<div class="col-sm-3">
					<div class="widget">
						<h3 class="h5">Social Media</h3>
						<ul class="social-networks">
							<li><a class="btn btn-twitter" href="#"><i class="fa fa-fw fa-twitter"></i></a></li>
							<li><a class="btn btn-facebook" href="#"><i class="fa fa-fw fa-facebook"></i></a></li>
							<li><a class="btn btn-google-plus" href="#"><i class="fa fa-fw fa-google-plus"></i></a></li>
							<li><a class="btn btn-pinterest" href="#"><i class="fa fa-fw fa-pinterest"></i></a></li>
						</ul>
					</div><!-- /.widget -->
					<div class="widget">
						<h3 class="h5">Search</h3>
						<form action="" role="form">
							<label class="sr-only" for="example-search">Sidebar Search</label>
							<input type="text" class="form-control" id="example-search" placeholder="Search blog">
						</form>
					</div><!-- /.widget -->
					<div class="widget">
						<h3 class="h5">Top Content</h3>
						<ul class="nav nav-tabs">
							<li class="active"><a href="#tab-1" data-toggle="tab">Popular</a></li>
							<li><a href="#tab-2" data-toggle="tab">Recent</a></li>
						</ul>
						<div class="tab-content">
							<div class="tab-pane fade active in" id="tab-1">
								<ul class="list-unstyled">
									<li><h3 class="h5"><i class="fa fa-file-text-o"></i> <a href="#link">Efficiently Modifying Posts</a></h3></li>
									<li><h3 class="h5"><i class="fa fa-file-text-o"></i> <a href="#link">Taxonomy Regulation</a></h3></li>
									<li><h3 class="h5"><i class="fa fa-file-text-o"></i> <a href="#link">7 Things You Love</a></h3></li>
									<li><h3 class="h5"><i class="fa fa-file-text-o"></i> <a href="#link">Why I Love Jazz Music</a></h3></li>
									<li><h3 class="h5"><i class="fa fa-file-text-o"></i> <a href="#link">Learn The Basics Of Muse</a></h3></li>
									<li><h3 class="h5"><i class="fa fa-file-text-o"></i> <a href="#link">Start A New Business</a></h3></li>
								</ul>
							</div>
							<!-- /.tab-pane -->
							<div class="tab-pane fade" id="tab-2">
								<ul class="list-unstyled">
									<li>
										<h3 class="h5"><i class="fa fa-comment-o"></i> <a href="#link">Efficiently Modifying Posts</a></h3>
										<p>Color manipulation in Photoshop can be used to correct mistakes...</p>
									</li>
									<li>
										<h3 class="h5"><i class="fa fa-comment-o"></i> <a href="#link">Taxonomy Regulation</a></h3>
										<p>You can’t design without type. However, you can use only type (or mostly only type)...</p>
									</li>
									<li>
										<h3 class="h5"><i class="fa fa-comment-o"></i> <a href="#link">7 Things You Love</a></h3>
										<p>Continuing from Part 1, let’s extend into tools for linting, measuring performance, checking for...</p>
									</li>
								</ul>
							</div><!-- /.tab-pane -->
						</div><!-- /.tab-content -->
					</div><!-- /.widget -->
					<div class="widget">
						<h3 class="h5">Text Widget</h3>
						<p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don’t look even slightly believable.</p>
					</div><!-- /.widget -->
					<div class="widget">
						<h3 class="h5">Post Tags</h3>
						<ul class="tags">
							<li><a href="#link">design</a></li>
							<li><a href="#link">layout</a></li>
							<li><a href="#link">stack</a></li>
							<li><a href="#link">PSD</a></li>
							<li><a href="#link">bootstrap</a></li>
							<li><a href="#link">menu</a></li>
							<li><a href="#link">type</a></li>
							<li><a href="#link">paper</a></li>
							<li><a href="#link">press</a></li>
						</ul>
					</div><!-- /.widget -->
					<div class="widget">
						<h3 class="h5">Advertising</h3>
						<ul class="img-stream">
							<li><a href="#link"><img class="media-object" data-src="holder.js/125x125" alt="img"></a></li>
							<li><a href="#link"><img class="media-object" data-src="holder.js/125x125" alt="img"></a></li>
							<li><a href="#link"><img class="media-object" data-src="holder.js/125x125" alt="img"></a></li>
							<li><a href="#link"><img class="media-object" data-src="holder.js/125x125" alt="img"></a></li>
							<li><a href="#link"><img class="media-object" data-src="holder.js/125x125" alt="img"></a></li>
							<li><a href="#link"><img class="media-object" data-src="holder.js/125x125" alt="img"></a></li>
						</ul>
					</div><!-- /.widget -->
				</div><!-- /.col --> <!-- End of sidebar column -->
			</div><!-- /.row -->
		</div><!-- /.container -->
	</section>

	<!-- Footer -->
	<footer class="footer-container">
		<section class="footer-primary">
			<div class="container">
				<div class="row">
					<div class="col-sm-6 col-md-3">
						<h3>Footer Component</h3>
						<p>Choose from our favourite tags:</p>
						<ul class="tags">
							<li><a href="#link">design</a></li>
							<li><a href="#link">layout</a></li>
							<li><a href="#link">stack</a></li>
							<li><a href="#link">PSD</a></li>
							<li><a href="#link">bootstrap</a></li>
							<li><a href="#link">menu</a></li>
							<li><a href="#link">type</a></li>
							<li><a href="#link">paper</a></li>
							<li><a href="#link">press</a></li>
						</ul>
					</div><!-- /.col -->
					<div class="col-sm-6 col-md-3">
						<h3>Image Stream List</h3>
						<p>View our latest stills in Flicker:</p>
						<ul class="img-stream">
							<li><a href="#link"><img class="media-object" data-src="holder.js/55x55" alt="img"></a></li>
							<li><a href="#link"><img class="media-object" data-src="holder.js/55x55" alt="img"></a></li>
							<li><a href="#link"><img class="media-object" data-src="holder.js/55x55" alt="img"></a></li>
							<li><a href="#link"><img class="media-object" data-src="holder.js/55x55" alt="img"></a></li>
							<li><a href="#link"><img class="media-object" data-src="holder.js/55x55" alt="img"></a></li>
							<li><a href="#link"><img class="media-object" data-src="holder.js/55x55" alt="img"></a></li>
							<li><a href="#link"><img class="media-object" data-src="holder.js/55x55" alt="img"></a></li>
							<li><a href="#link"><img class="media-object" data-src="holder.js/55x55" alt="img"></a></li>
						</ul>
					</div><!-- /.col -->
					<div class="col-sm-6 col-md-3">
						<h3>Hyperlinks List</h3>
						<p>Contact us whenever you want:</p>
						<ul class="list-unstyled">
							<li><i class="fa fa-angle-right"></i> <a href="#link">9am-6pm ET Mon-Fri</a></li>
							<li><i class="fa fa-angle-right"></i> <a href="#link">US (877) 977-8732</a></li>
							<li><i class="fa fa-angle-right"></i> <a href="#link">International +1 646 490 1679</a></li>
						</ul>
					</div><!-- /.col -->
					<div class="col-sm-6 col-md-3">
						<h3>Social Media List</h3>
						<p>Stick to the social media hype:</p>
						<ul class="social-networks">
							<li><a class="btn btn-twitter" href="#link"><i class="fa fa-fw fa-twitter"></i></a></li>
							<li><a class="btn btn-facebook" href="#link"><i class="fa fa-fw fa-facebook"></i></a></li>
							<li><a class="btn btn-google-plus" href="#link"><i class="fa fa-fw fa-google-plus"></i></a></li>
							<li><a class="btn btn-pinterest" href="#link"><i class="fa fa-fw fa-pinterest"></i></a></li>
						</ul>
						<p>We are friendly. Give us a ding!</p>
					</div><!-- /.col -->
				</div><!-- /.row -->
			</div><!-- /.container -->
		</section><!-- /.wrapper-sm -->
		<section class="footer-secondary">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<p>All Rights Reserved ® Designed by <a href="http://twitter.com/graphikaria" target="_blank">@Graphikaria</a></p>
					</div><!-- /.col -->
				</div><!-- /.row -->
			</div><!-- /.container -->
		</section><!-- /.wrapper-sm.footer-secondary -->
	</footer>