	<!-- Main Navbar -->
	<nav class="navbar navbar-inverse navbar-static-top" role="navigation">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="index.html">
					<img src="assets/img/logo-light.png" alt="Website Logo">
				</a>
			</div>
			<!-- Navbar -->
			<div class="collapse navbar-collapse navbar-main-collapse">
				<ul class="nav navbar-nav">
					
					<li class="active">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">Home <b class="caret"></b></a>
						<ul class="dropdown-menu">
							<li><a href="index.html">Index</a></li>
							<li><a href="contact_1.html">Contact 1</a></li>
							<li><a href="contact_2.html">Contact 2</a></li>
						</ul>
					</li>
					<li class="dropdown">
						<a href="#link" class="dropdown-toggle" data-toggle="dropdown">Blog <b class="caret"></b></a>
						<ul class="dropdown-menu">
							<li><a href="blog_1.html">Large Preveiw</a></li>
							<li><a href="blog_2.html">Small Preview</a></li>
							<li><a href="blog_3.html">Magazine Grid</a></li>
							<li><a href="blog_4.html">Pinterest Grid</a></li>
							<li class="divider"></li>
							<li><a href="blog_post.html">Single Post</a></li>
							<li><a href="blog_post_2.html">Single Post 2</a></li>
						</ul>
					</li>
					<li class="dropdown">
						<a href="#link" class="dropdown-toggle" data-toggle="dropdown">Marketing <b class="caret"></b></a>
						<ul class="dropdown-menu">
							<li><a href="marketing_1.html">Lead Capture</a></li>
							<li><a href="marketing_2.html">Countdown</a></li>
						</ul>
					</li>
					<li class="dropdown">
						<a href="#link" class="dropdown-toggle" data-toggle="dropdown">Ecommerce <b class="caret"></b></a>
						<ul class="dropdown-menu">
							<li><a href="ecommerce_1.html">Large Thumbnails</a></li>
							<li><a href="ecommerce_2.html">Small Thumbnails</a></li>
							<li><a href="ecommerce_3.html">List Thumbnails</a></li>
							<li class="divider"></li>
							<li><a href="ecommerce_product.html">Product Page</a></li>
						</ul>
					</li>
					<li class="dropdown">
						<a href="#link" class="dropdown-toggle" data-toggle="dropdown">Portfolio <b class="caret"></b></a>
						<ul class="dropdown-menu">
							<li><a href="portfolio_showcase.html">Showcase</a></li>
							<li><a href="portfolio_item_1.html">Item Page 1</a></li>
							<li><a href="portfolio_item_2.html">Item Page 2</a></li>
						</ul>
					</li>
					<li><a href="style_guide.html">Components</a></li>
				</ul><!-- /.navbar-nav -->
			</div><!-- /.collapse -->
		</div><!-- /.container -->
	</nav><!-- /.navbar -->

	<section class="wrapper-md">
		<div class="container">
			<div class="row">
				<div class="col-sm-12 text-center">
					<h1 class="headline">Let's get in touch</h1>
					<p class="lead">We want to know you</p>
				</div><!-- /.col -->
			</div><!-- /.row -->
		</div><!-- /.container -->
	</section>

	<section class="wrapper-lg bg-highlight">
		<div class="container">
			<div class="row">
				<div class="col-sm-12 col-md-4 col-md-offset-1 text-right">
					<h3>Come and Visit Us</h3>
					<address>
						<strong>Graphikaria Design</strong><br>
						795 Folsom Ave, Suite 600<br>
						San Francisco, CA 94107<br>
						<abbr title="Phone">P:</abbr> (123) 456-7890
					</address>
					<address>
						<strong>Graphikaria Co.</strong><br>
						<a href="mailto:#">info@graphikaria.com</a>
					</address>
					<ul class="social-networks">
						<li><a class="btn btn-twitter" href="#link"><i class="fa fa-fw fa-twitter"></i></a></li>
						<li><a class="btn btn-facebook" href="#link"><i class="fa fa-fw fa-facebook"></i></a></li>
						<li><a class="btn btn-google-plus" href="#link"><i class="fa fa-fw fa-google-plus"></i></a></li>
						<li><a class="btn btn-pinterest" href="#link"><i class="fa fa-fw fa-pinterest"></i></a></li>
					</ul>
					<br class="spacer-lg">
					<div class="embed-wrapper">
						<iframe width="800" height="100" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=france&amp;aq=&amp;sll=-25.274398,133.775136&amp;sspn=49.891702,79.013672&amp;ie=UTF8&amp;hq=&amp;hnear=France&amp;t=m&amp;z=6&amp;ll=46.227638,2.213749&amp;output=embed"></iframe><br /><small><a href="https://www.google.com/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=france&amp;aq=&amp;sll=-25.274398,133.775136&amp;sspn=49.891702,79.013672&amp;ie=UTF8&amp;hq=&amp;hnear=France&amp;t=m&amp;z=6&amp;ll=46.227638,2.213749" style="color:#0000FF;text-align:left">View Larger Map</a></small>
					</div>
				</div><!-- /.col -->
				<div class="col-sm-12 col-md-6">
					<div class="widget widget-dashed padding-md bg-light">
						<h1 class="text-center">Contact Us</h1>
						<p class="lead text-center">We are friendly</p>
						<form role="form">
							<div class="form-group">
								<label for="exmaple-contact-email">Email address</label>
								<input type="email" class="form-control input-lg" id="exmaple-contact-email" placeholder="Enter email">
							</div>
							<div class="form-group">
								<label for="example-contact-website">Password</label>
								<input type="password" class="form-control input-lg" id="example-contact-website" placeholder="Password">
							</div>
							<div class="form-group">
								<label for="example-contact-message">Message</label>
								<textarea id="example-contact-message" class="form-control" rows="5"></textarea>
							</div>
							<div class="checkbox">
								<label>
									<input type="checkbox"> Send me emails
								</label>
							</div>
							<button type="submit" class="btn btn-primary">Send Message</button>
						</form>
					</div>
				</div><!-- /.col -->
			</div><!-- /.row -->
		</div><!-- /.container -->
	</section>

	<!-- Footer -->
	<footer class="footer-container">
		<section class="footer-primary">
			<div class="container">
				<div class="row">
					<div class="col-sm-6 col-md-3">
						<h3>Footer Component</h3>
						<p>Choose from our favourite tags:</p>
						<ul class="tags">
							<li><a href="#link">design</a></li>
							<li><a href="#link">layout</a></li>
							<li><a href="#link">stack</a></li>
							<li><a href="#link">PSD</a></li>
							<li><a href="#link">bootstrap</a></li>
							<li><a href="#link">menu</a></li>
							<li><a href="#link">type</a></li>
							<li><a href="#link">paper</a></li>
							<li><a href="#link">press</a></li>
						</ul>
					</div><!-- /.col -->
					<div class="col-sm-6 col-md-3">
						<h3>Image Stream List</h3>
						<p>View our latest stills in Flicker:</p>
						<ul class="img-stream">
							<li><a href="#link"><img class="media-object" data-src="holder.js/55x55" alt="img"></a></li>
							<li><a href="#link"><img class="media-object" data-src="holder.js/55x55" alt="img"></a></li>
							<li><a href="#link"><img class="media-object" data-src="holder.js/55x55" alt="img"></a></li>
							<li><a href="#link"><img class="media-object" data-src="holder.js/55x55" alt="img"></a></li>
							<li><a href="#link"><img class="media-object" data-src="holder.js/55x55" alt="img"></a></li>
							<li><a href="#link"><img class="media-object" data-src="holder.js/55x55" alt="img"></a></li>
							<li><a href="#link"><img class="media-object" data-src="holder.js/55x55" alt="img"></a></li>
							<li><a href="#link"><img class="media-object" data-src="holder.js/55x55" alt="img"></a></li>
						</ul>
					</div><!-- /.col -->
					<div class="col-sm-6 col-md-3">
						<h3>Hyperlinks List</h3>
						<p>Contact us whenever you want:</p>
						<ul class="list-unstyled">
							<li><i class="fa fa-angle-right"></i> <a href="#link">9am-6pm ET Mon-Fri</a></li>
							<li><i class="fa fa-angle-right"></i> <a href="#link">US (877) 977-8732</a></li>
							<li><i class="fa fa-angle-right"></i> <a href="#link">International +1 646 490 1679</a></li>
						</ul>
					</div><!-- /.col -->
					<div class="col-sm-6 col-md-3">
						<h3>Social Media List</h3>
						<p>Stick to the social media hype:</p>
						<ul class="social-networks">
							<li><a class="btn btn-twitter" href="#link"><i class="fa fa-fw fa-twitter"></i></a></li>
							<li><a class="btn btn-facebook" href="#link"><i class="fa fa-fw fa-facebook"></i></a></li>
							<li><a class="btn btn-google-plus" href="#link"><i class="fa fa-fw fa-google-plus"></i></a></li>
							<li><a class="btn btn-pinterest" href="#link"><i class="fa fa-fw fa-pinterest"></i></a></li>
						</ul>
						<p>We are friendly. Give us a ding!</p>
					</div><!-- /.col -->
				</div><!-- /.row -->
			</div><!-- /.container -->
		</section><!-- /.wrapper-sm -->
		<section class="footer-secondary">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<p>All Rights Reserved ® Designed by <a href="http://twitter.com/graphikaria" target="_blank">@Graphikaria</a></p>
					</div><!-- /.col -->
				</div><!-- /.row -->
			</div><!-- /.container -->
		</section><!-- /.wrapper-sm.footer-secondary -->
	</footer>
