	<!-- Main Navbar -->
	<nav class="navbar navbar-inverse navbar-static-top" role="navigation">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="index.html">
					<img src="assets/img/logo-light.png" alt="Website Logo">
				</a>
			</div>
			<!-- Navbar -->
			<div class="collapse navbar-collapse navbar-main-collapse">
				<ul class="nav navbar-nav">
					
					<li class="active">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">Home <b class="caret"></b></a>
						<ul class="dropdown-menu">
							<li><a href="index.html">Index</a></li>
							<li><a href="contact_1.html">Contact 1</a></li>
							<li><a href="contact_2.html">Contact 2</a></li>
						</ul>
					</li>
					<li class="dropdown">
						<a href="#link" class="dropdown-toggle" data-toggle="dropdown">Blog <b class="caret"></b></a>
						<ul class="dropdown-menu">
							<li><a href="blog_1.html">Large Preveiw</a></li>
							<li><a href="blog_2.html">Small Preview</a></li>
							<li><a href="blog_3.html">Magazine Grid</a></li>
							<li><a href="blog_4.html">Pinterest Grid</a></li>
							<li class="divider"></li>
							<li><a href="blog_post.html">Single Post</a></li>
							<li><a href="blog_post_2.html">Single Post 2</a></li>
						</ul>
					</li>
					<li class="dropdown">
						<a href="#link" class="dropdown-toggle" data-toggle="dropdown">Marketing <b class="caret"></b></a>
						<ul class="dropdown-menu">
							<li><a href="marketing_1.html">Lead Capture</a></li>
							<li><a href="marketing_2.html">Countdown</a></li>
						</ul>
					</li>
					<li class="dropdown">
						<a href="#link" class="dropdown-toggle" data-toggle="dropdown">Ecommerce <b class="caret"></b></a>
						<ul class="dropdown-menu">
							<li><a href="ecommerce_1.html">Large Thumbnails</a></li>
							<li><a href="ecommerce_2.html">Small Thumbnails</a></li>
							<li><a href="ecommerce_3.html">List Thumbnails</a></li>
							<li class="divider"></li>
							<li><a href="ecommerce_product.html">Product Page</a></li>
						</ul>
					</li>
					<li class="dropdown">
						<a href="#link" class="dropdown-toggle" data-toggle="dropdown">Portfolio <b class="caret"></b></a>
						<ul class="dropdown-menu">
							<li><a href="portfolio_showcase.html">Showcase</a></li>
							<li><a href="portfolio_item_1.html">Item Page 1</a></li>
							<li><a href="portfolio_item_2.html">Item Page 2</a></li>
						</ul>
					</li>
					<li><a href="style_guide.html">Components</a></li>
				</ul><!-- /.navbar-nav -->
			</div><!-- /.collapse -->
		</div><!-- /.container -->
	</nav><!-- /.navbar -->

	<section class="wrapper-lg">
		<div class="container">
			<div class="row">
				<div class="col-md-3">
					<h3 class="h4">Search:</h3>
					<form action="" role="form">
						<label class="sr-only" for="example-ecommerce-search">Ecommerce Search</label>
						<input type="text" class="form-control input-lg" id="example-ecommerce-search" placeholder="Type a keyword">
					</form>
					<br class="spacer-lg">

					<h3 class="h4">Categories:</h3>
					<div class="list-group">
						<a href="#" class="list-group-item active">All Categories</a>
						<a href="#" class="list-group-item">Movies, Music, Games</a>
						<a href="#" class="list-group-item">Electronics, Computers</a>
						<a href="#" class="list-group-item">Home, Garden, Tools</a>
						<a href="#" class="list-group-item">Beauty, Health, Grocery</a>
						<a href="#" class="list-group-item">Toys, Kids, Babies</a>
					</div>
					<br class="spacer-lg">
					
					<h3 class="h4">Condition:</h3>
					<form action="">
						<div class="radio">
							<label><input type="radio" name="condition" value="1" id="example-1" checked> New</label>
						</div>
						<div class="radio">
							<label><input type="radio" name="condition" value="2" id="example-2"> Used</label>
						</div>
						<div class="radio">
							<label><input type="radio" name="condition" value="3" id="example-3"> Other</label>
						</div>
						<div class="form-group">
							<h3 class="h4">Delivery:</h3>
							<div class="checkbox">
								<label>
									<input type="checkbox"> Free shipping
								</label>
							</div>
							<div class="checkbox">
								<label>
									<input type="checkbox"> Expedited shipping
								</label>
							</div>
							<div class="checkbox">
								<label>
									<input type="checkbox"> Returns accepted
								</label>
							</div>
						</div>
						<h3 class="h4">Price Range:</h3>
						<div class="form-group">
							<label for="example-field">From:</label>
							<input type="text" class="form-control" id="example-field" placeholder="$">
						</div>
						<div class="form-group">
							<label for="example-field-2">To:</label>
							<input type="text" class="form-control" id="example-field-2" placeholder="$">
						</div>
						<button type="submit" class="btn btn-primary">Apply Changes »</button>
					</form>
					<br class="spacer-lg">
					<h3 class="h4">Featured:</h3>
					<a href="#link"><img class="img-responsive img-thumbnail" data-src="holder.js/400x400/auto" alt="img"></a>
					<a href="#link"><img class="img-responsive img-thumbnail" data-src="holder.js/400x400/auto" alt="img"></a>
					<a href="#link"><img class="img-responsive img-thumbnail" data-src="holder.js/400x400/auto" alt="img"></a>
				</div><!-- /.col -->

				<!-- Main column -->
				<div class="col-md-9">
					<!-- Carousel -->
					<div id="carousel-example-portfolio" class="carousel slide" data-ride="carousel">
						<ol class="carousel-indicators">
							<li data-target="#carousel-example-portfolio" data-slide-to="0" class=""></li>
							<li data-target="#carousel-example-portfolio" data-slide-to="1" class=""></li>
							<li data-target="#carousel-example-portfolio" data-slide-to="2" class="active"></li>
						</ol>
						<div class="carousel-inner">
							<div class="item">
								<img data-src="holder.js/1200x650/auto/#24292f:#24292f" alt="img">
								<div class="carousel-caption">
									<h3>Featured Item Image</h3>
									<p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
								</div><!-- /.carousel-caption -->
							</div><!-- /.item -->
							<div class="item">
								<img data-src="holder.js/1200x650/auto/#24292f:#24292f" alt="img">
								<div class="carousel-caption">
									<h3>Featured Item Image</h3>
									<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
								</div><!-- /.carousel-caption -->
							</div><!-- /.item -->
							<div class="item active">
								<img data-src="holder.js/1200x650/auto/#24292f:#24292f" alt="img">
								<div class="carousel-caption">
									<h3>Featured Item Image</h3>
									<p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
								</div><!-- /.carousel-caption -->
							</div><!-- /.item -->
						</div><!-- /.carousel-inner -->
						<a class="left carousel-control" href="#carousel-example-portfolio" data-slide="prev">
							<span class="glyphicon glyphicon-chevron-left"></span>
						</a>
						<a class="right carousel-control" href="#carousel-example-portfolio" data-slide="next">
							<span class="glyphicon glyphicon-chevron-right"></span>
						</a>
					</div><!-- /.carousel -->

					<div class="row">
						<div class="col-md-6">
							<div class="panel panel-danger">
								<div class="panel-heading">
									<h3 class="panel-title">Featured Product</h3>
								</div>
								<div class="panel-body">
									<div class="row">
										<div class="col-md-4">
											<a href="#link"><img class="img-responsive img-thumbnail" data-src="holder.js/600x600/auto" alt="img"></a>
										</div>
										<div class="col-md-8">
											<h4 class="media-heading">Sale Product</h4>
											<p><span class="label label-default">Promo</span> Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo.</p>
											<p><a href="#buy" class="btn btn-danger btn-sm"><i class="fa fa-shopping-cart fa-lg"></i> Buy Now</a> <a href="#buy" class="btn btn-sm btn-default">View More</a></p>
										</div>
									</div><!-- /.row -->
								</div><!-- /.col -->
								<div class="panel-footer">
									<span class="label label-default">$350</span> 30% Off
								</div>
							</div><!-- /.panel -->
						</div><!-- /.col -->
						<div class="col-md-6">
							<div class="panel panel-default">
								<div class="panel-heading">
									<h3 class="panel-title">Shop Mens Accessories</h3>
								</div>
								<div class="panel-body">
									<div class="row">
										<div class="col-md-4">
											<a href="#link"><img class="img-responsive img-thumbnail" data-src="holder.js/600x600/auto" alt="img"></a>
										</div>
										<div class="col-md-8">
											<h4 class="media-heading">Sale Product</h4>
											<p><span class="label label-default">Promo</span> Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo.</p>
											<p><a href="#buy" class="btn btn-danger btn-sm"><i class="fa fa-shopping-cart fa-lg"></i> Buy Now</a> <a href="#buy" class="btn btn-sm btn-default">View More</a></p>
										</div>
									</div><!-- /.row -->
								</div><!-- /.col -->
								<div class="panel-footer">
									<span class="label label-default">$350</span> 30% Off
								</div>
							</div><!-- /.panel -->
						</div><!-- /.col -->
						<div class="col-md-6">
							<div class="panel panel-default">
								<div class="panel-heading">
									<h3 class="panel-title">Shop Mens Accessories</h3>
								</div>
								<div class="panel-body">
									<div class="row">
										<div class="col-md-4">
											<a href="#link"><img class="img-responsive img-thumbnail" data-src="holder.js/600x600/auto" alt="img"></a>
										</div>
										<div class="col-md-8">
											<h4 class="media-heading">Sale Product</h4>
											<p><span class="label label-default">Promo</span> Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo.</p>
											<p><a href="#buy" class="btn btn-danger btn-sm"><i class="fa fa-shopping-cart fa-lg"></i> Buy Now</a> <a href="#buy" class="btn btn-sm btn-default">View More</a></p>
										</div>
									</div><!-- /.row -->
								</div><!-- /.col -->
								<div class="panel-footer">
									<span class="label label-default">$350</span> 30% Off
								</div>
							</div><!-- /.panel -->
						</div><!-- /.col -->
						<div class="col-md-6">
							<div class="panel panel-default">
								<div class="panel-heading">
									<h3 class="panel-title">Shop Mens Accessories</h3>
								</div>
								<div class="panel-body">
									<div class="row">
										<div class="col-md-4">
											<a href="#link"><img class="img-responsive img-thumbnail" data-src="holder.js/600x600/auto" alt="img"></a>
										</div>
										<div class="col-md-8">
											<h4 class="media-heading">Sale Product</h4>
											<p><span class="label label-default">Promo</span> Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo.</p>
											<p><a href="#buy" class="btn btn-danger btn-sm"><i class="fa fa-shopping-cart fa-lg"></i> Buy Now</a> <a href="#buy" class="btn btn-sm btn-default">View More</a></p>
										</div>
									</div><!-- /.row -->
								</div><!-- /.col -->
								<div class="panel-footer">
									<span class="label label-default">$350</span> 30% Off
								</div>
							</div><!-- /.panel -->
						</div><!-- /.col -->
						<div class="col-md-6">
							<div class="panel panel-default">
								<div class="panel-heading">
									<h3 class="panel-title">Shop Mens Accessories</h3>
								</div>
								<div class="panel-body">
									<div class="row">
										<div class="col-md-4">
											<a href="#link"><img class="img-responsive img-thumbnail" data-src="holder.js/600x600/auto" alt="img"></a>
										</div>
										<div class="col-md-8">
											<h4 class="media-heading">Sale Product</h4>
											<p><span class="label label-default">Promo</span> Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo.</p>
											<p><a href="#buy" class="btn btn-danger btn-sm"><i class="fa fa-shopping-cart fa-lg"></i> Buy Now</a> <a href="#buy" class="btn btn-sm btn-default">View More</a></p>
										</div>
									</div><!-- /.row -->
								</div><!-- /.col -->
								<div class="panel-footer">
									<span class="label label-default">$350</span> 30% Off
								</div>
							</div><!-- /.panel -->
						</div><!-- /.col -->
						<div class="col-md-6">
							<div class="panel panel-default">
								<div class="panel-heading">
									<h3 class="panel-title">Shop Mens Accessories</h3>
								</div>
								<div class="panel-body">
									<div class="row">
										<div class="col-md-4">
											<a href="#link"><img class="img-responsive img-thumbnail" data-src="holder.js/600x600/auto" alt="img"></a>
										</div>
										<div class="col-md-8">
											<h4 class="media-heading">Sale Product</h4>
											<p><span class="label label-default">Promo</span> Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo.</p>
											<p><a href="#buy" class="btn btn-danger btn-sm"><i class="fa fa-shopping-cart fa-lg"></i> Buy Now</a> <a href="#buy" class="btn btn-sm btn-default">View More</a></p>
										</div>
									</div><!-- /.row -->
								</div><!-- /.col -->
								<div class="panel-footer">
									<span class="label label-default">$350</span> 30% Off
								</div>
							</div><!-- /.panel -->
						</div><!-- /.col -->
						<div class="col-md-6">
							<div class="panel panel-default">
								<div class="panel-heading">
									<h3 class="panel-title">Shop Mens Accessories</h3>
								</div>
								<div class="panel-body">
									<div class="row">
										<div class="col-md-4">
											<a href="#link"><img class="img-responsive img-thumbnail" data-src="holder.js/600x600/auto" alt="img"></a>
										</div>
										<div class="col-md-8">
											<h4 class="media-heading">Sale Product</h4>
											<p><span class="label label-default">Promo</span> Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo.</p>
											<p><a href="#buy" class="btn btn-danger btn-sm"><i class="fa fa-shopping-cart fa-lg"></i> Buy Now</a> <a href="#buy" class="btn btn-sm btn-default">View More</a></p>
										</div>
									</div><!-- /.row -->
								</div><!-- /.col -->
								<div class="panel-footer">
									<span class="label label-default">$350</span> 30% Off
								</div>
							</div><!-- /.panel -->
						</div><!-- /.col -->
						<div class="col-md-6">
							<div class="panel panel-default">
								<div class="panel-heading">
									<h3 class="panel-title">Shop Mens Accessories</h3>
								</div>
								<div class="panel-body">
									<div class="row">
										<div class="col-md-4">
											<a href="#link"><img class="img-responsive img-thumbnail" data-src="holder.js/600x600/auto" alt="img"></a>
										</div>
										<div class="col-md-8">
											<h4 class="media-heading">Sale Product</h4>
											<p><span class="label label-default">Promo</span> Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo.</p>
											<p><a href="#buy" class="btn btn-danger btn-sm"><i class="fa fa-shopping-cart fa-lg"></i> Buy Now</a> <a href="#buy" class="btn btn-sm btn-default">View More</a></p>
										</div>
									</div><!-- /.row -->
								</div><!-- /.col -->
								<div class="panel-footer">
									<span class="label label-default">$350</span> 30% Off
								</div>
							</div><!-- /.panel -->
						</div><!-- /.col -->
					</div><!-- /.row -->

					<!-- Pagination -->
					<div class="row">
						<div class="col-sm-12">
							<ul class="pagination pagination-lg text-center">
								<li><a href="#">«</a></li>
								<li class="active"><a href="#">1</a></li>
								<li><a href="#">2</a></li>
								<li><a href="#">3</a></li>
								<li><a href="#">4</a></li>
								<li><a href="#">5</a></li>
								<li><a href="#">6</a></li>
								<li class="disabled"><a href="#">5</a></li>
								<li><a href="#">»</a></li>
							</ul>
						</div><!-- /.col -->
					</div><!-- /.row --> <!-- End of pagination -->
				</div><!-- /.col --> <!-- End of main column -->
			</div><!-- /.row -->
		</div><!-- /.container -->
	</section>

	<section class="wrapper-lg bg-success">
		<div class="container">
			<h2 class="text-center">Featured items:</h2>
			<p class="lead text-center">Season Specials</p>
			<br class="spacer-lg">
			<div class="row">
				<div class="col-sm-4">
					<div class="panel panel-secondary">
						<div class="panel-heading">
							<h3 class="panel-title">Shop Mens Accessories</h3>
						</div>
						<div class="panel-body">
							<div class="row">
								<div class="col-md-4">
									<a href="#link"><img class="img-responsive img-thumbnail" data-src="holder.js/600x600/auto" alt="img"></a>
								</div><!-- /.col -->
								<div class="col-md-8">
									<h4 class="heading-default">Sale Product</h4>
									<p><span class="label label-default">Promo</span> Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo.</p>
									<p><a href="#buy" class="btn btn-danger btn-sm"><i class="fa fa-shopping-cart fa-lg"></i> Buy Now</a> <a href="#buy" class="btn btn-sm btn-default">View More</a></p>
								</div><!-- /.col -->
							</div><!-- /.row -->
						</div><!-- /.panel-body -->
						<div class="panel-footer">
							Rating:
							<i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>
						</div><!-- /.panel-footer -->
					</div><!-- /.panel -->
				</div><!-- /.col -->
				<div class="col-sm-4">
					<div class="panel panel-secondary">
						<div class="panel-heading">
							<h3 class="panel-title">Shop Mens Accessories</h3>
						</div>
						<div class="panel-body">
							<div class="row">
								<div class="col-md-4">
									<a href="#link"><img class="img-responsive img-thumbnail" data-src="holder.js/600x600/auto" alt="img"></a>
								</div><!-- /.col -->
								<div class="col-md-8">
									<h4 class="heading-default">Sale Product</h4>
									<p><span class="label label-default">Promo</span> Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo.</p>
									<p><a href="#buy" class="btn btn-danger btn-sm"><i class="fa fa-shopping-cart fa-lg"></i> Buy Now</a> <a href="#buy" class="btn btn-sm btn-default">View More</a></p>
								</div><!-- /.col -->
							</div><!-- /.row -->
						</div><!-- /.panel-body -->
						<div class="panel-footer">
							Rating:
							<i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>
						</div><!-- /.panel-footer -->
					</div><!-- /.panel -->
				</div><!-- /.col -->
				<div class="col-sm-4">
					<div class="panel panel-secondary">
						<div class="panel-heading">
							<h3 class="panel-title">Shop Mens Accessories</h3>
						</div>
						<div class="panel-body">
							<div class="row">
								<div class="col-md-4">
									<a href="#link"><img class="img-responsive img-thumbnail" data-src="holder.js/600x600/auto" alt="img"></a>
								</div><!-- /.col -->
								<div class="col-md-8">
									<h4 class="heading-default">Sale Product</h4>
									<p><span class="label label-default">Promo</span> Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo.</p>
									<p><a href="#buy" class="btn btn-danger btn-sm"><i class="fa fa-shopping-cart fa-lg"></i> Buy Now</a> <a href="#buy" class="btn btn-sm btn-default">View More</a></p>
								</div><!-- /.col -->
							</div><!-- /.row -->
						</div><!-- /.panel-body -->
						<div class="panel-footer">
							Rating:
							<i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>
						</div><!-- /.panel-footer -->
					</div><!-- /.panel -->
				</div><!-- /.col -->
			</div><!-- /.row -->
		</div><!-- /.container -->
	</section>

	<section class="wrapper-sm bg-info">
		<div class="container">
			<div class="row">
				<div class="col-sm-12 text-center">
					<a href="#" class="btn btn-default"><i class="fa fa-arrow-up"></i> Back To Top</a>
				</div><!-- /.col -->
			</div><!-- /.row -->
		</div><!-- /.container -->
	</section>

	<!-- Footer -->
	<footer class="footer-container">
		<section class="footer-primary">
			<div class="container">
				<div class="row">
					<div class="col-sm-6 col-md-3">
						<h3>Footer Component</h3>
						<p>Choose from our favourite tags:</p>
						<ul class="tags">
							<li><a href="#link">design</a></li>
							<li><a href="#link">layout</a></li>
							<li><a href="#link">stack</a></li>
							<li><a href="#link">PSD</a></li>
							<li><a href="#link">bootstrap</a></li>
							<li><a href="#link">menu</a></li>
							<li><a href="#link">type</a></li>
							<li><a href="#link">paper</a></li>
							<li><a href="#link">press</a></li>
						</ul>
					</div><!-- /.col -->
					<div class="col-sm-6 col-md-3">
						<h3>Image Stream List</h3>
						<p>View our latest stills in Flicker:</p>
						<ul class="img-stream">
							<li><a href="#link"><img class="media-object" data-src="holder.js/55x55" alt="img"></a></li>
							<li><a href="#link"><img class="media-object" data-src="holder.js/55x55" alt="img"></a></li>
							<li><a href="#link"><img class="media-object" data-src="holder.js/55x55" alt="img"></a></li>
							<li><a href="#link"><img class="media-object" data-src="holder.js/55x55" alt="img"></a></li>
							<li><a href="#link"><img class="media-object" data-src="holder.js/55x55" alt="img"></a></li>
							<li><a href="#link"><img class="media-object" data-src="holder.js/55x55" alt="img"></a></li>
							<li><a href="#link"><img class="media-object" data-src="holder.js/55x55" alt="img"></a></li>
							<li><a href="#link"><img class="media-object" data-src="holder.js/55x55" alt="img"></a></li>
						</ul>
					</div><!-- /.col -->
					<div class="col-sm-6 col-md-3">
						<h3>Hyperlinks List</h3>
						<p>Contact us whenever you want:</p>
						<ul class="list-unstyled">
							<li><i class="fa fa-angle-right"></i> <a href="#link">9am-6pm ET Mon-Fri</a></li>
							<li><i class="fa fa-angle-right"></i> <a href="#link">US (877) 977-8732</a></li>
							<li><i class="fa fa-angle-right"></i> <a href="#link">International +1 646 490 1679</a></li>
						</ul>
					</div><!-- /.col -->
					<div class="col-sm-6 col-md-3">
						<h3>Social Media List</h3>
						<p>Stick to the social media hype:</p>
						<ul class="social-networks">
							<li><a class="btn btn-twitter" href="#link"><i class="fa fa-fw fa-twitter"></i></a></li>
							<li><a class="btn btn-facebook" href="#link"><i class="fa fa-fw fa-facebook"></i></a></li>
							<li><a class="btn btn-google-plus" href="#link"><i class="fa fa-fw fa-google-plus"></i></a></li>
							<li><a class="btn btn-pinterest" href="#link"><i class="fa fa-fw fa-pinterest"></i></a></li>
						</ul>
						<p>We are friendly. Give us a ding!</p>
					</div><!-- /.col -->
				</div><!-- /.row -->
			</div><!-- /.container -->
		</section><!-- /.wrapper-sm -->
		<section class="footer-secondary">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<p>All Rights Reserved ® Designed by <a href="http://twitter.com/graphikaria" target="_blank">@Graphikaria</a></p>
					</div><!-- /.col -->
				</div><!-- /.row -->
			</div><!-- /.container -->
		</section><!-- /.wrapper-sm.footer-secondary -->
	</footer>