<nav class="navbar navbar-inverse navbar-static-top" role="navigation">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="index.html">
					<img src="assets_new/img/logo-light.png" alt="Website Logo">
				</a>
			</div>
			<!-- Navbar -->
			<div class="collapse navbar-collapse navbar-main-collapse">
				<ul class="nav navbar-nav">
					<li class="active">
						<a href="#/" class="dropdown-toggle" data-toggle="dropdown">Home</a>
					</li>
					<li><a href="#/research">Research</a></li>
					<li><a href="#/myResearch">My Research</a></li>
					<li><a href="#/contact">Contact Us</a></li>
				</ul><!-- /.navbar-nav -->
				<ul class="nav navbar-nav pull-right">
					<li id="logged_user_name" style="display:none"><a>{{logged_username}}</a></li>
					<li id="log_out_link" style="display:none"><a href="#/logout">Log Out</a></li>
					<li id="sigin_link" style="display:none"><a href="#/template/login">Login In</a></li>
				</ul>
			</div><!-- /.collapse -->
		</div><!-- /.container -->
	</nav><!-- /.navbar -->

	<!-- Carousel -->
	<div id="my-carousel" class="carousel slide no-margin-bottom">
		<!-- indicators -->
		<ol class="carousel-indicators">
			<li data-target="#my-carousel" data-slide-to="0" class="active"></li>
			<li data-target="#my-carousel" data-slide-to="1"></li>
		</ol>
		<!-- carousel -->
		<div class="carousel-inner">
			<div class="item active">
				<img src="assets_new/img/slide-1.jpg" alt="img">
				<div class="carousel-caption visible-lg">
					<h1 class="heading-lg">Bootstrap Framework Overhauled<br/> Meet the new sexy</h1>
					<p class="lead">Beautiful Bootstrap skin with overhauled components.</p><br>
				</div><!-- /.carousel-caption -->
			</div><!-- /.item -->
			<div class="item">
				<img src="assets_new/img/slide-1.jpg" alt="img">
				<div class="carousel-caption visible-lg">
					<h1 class="heading-lg">We help you being awesome at what you really do</h1>
					<p class="lead">Providing the best service so you can concentrate on your thing</p>
				</div><!-- /.carousel-caption -->
			</div><!-- /.item -->
			<div class="item">
				<img src="assets_new/img/slide-1.jpg" alt="img">
				<div class="carousel-caption visible-lg">
					<h1 class="heading-lg">Bootstrap Framework Overhauled<br/> Meet the new sexy</h1>
					<p class="lead">Beautiful Bootstrap CSS with overhauled components.</p><br>
				</div><!-- /.carousel-caption -->
			</div><!-- /.item -->
		</div>
		<!-- Controls -->
		<a class="left carousel-control" href="#my-carousel" data-slide="prev">
			<span class="glyphicon glyphicon-chevron-left"></span>
		</a>
		<a class="right carousel-control" href="#my-carousel" data-slide="next">
			<span class="glyphicon glyphicon-chevron-right"></span>
		</a>
	</div><!-- /.carousel -->

	<!-- Features Summary-->
	<section class="wrapper-lg bg-highlight">
		<div class="container">
			<div class="row">
				<div class="col-sm-6 col-md-3">
					<h3><i class="fa fa-star"></i> Quality</h3>
					<img class="img-responsive img-thumbnail" data-src="holder.js/400x200/#2A2F37:#ffffff/auto/" alt="img">
					<p>Have you ever needed to transition your feature set? Without having to purchase expensive support contracts? We pride ourselves not only on our functionality</p>
					<p><a href="#link" class="btn btn-default">Learn More »</a></p>
				</div>
				<div class="col-sm-6 col-md-3">
					<h3><i class="fa fa-bell"></i> Reliabiliy</h3>
					<img class="img-responsive img-thumbnail" data-src="holder.js/400x200/#2A2F37:#ffffff/auto/" alt="img">
					<p>Have you ever needed to transition your feature set? Without having to purchase expensive support contracts? We pride ourselves not only on our functionality</p>
					<p><a href="#link" class="btn btn-default">Learn More »</a></p>
				</div>
				<div class="col-sm-6 col-md-3">
					<h3><i class="fa fa-flask"></i> Knowledge</h3>
					<img class="img-responsive img-thumbnail" data-src="holder.js/400x200/#2A2F37:#ffffff/auto/" alt="img">
					<p>Have you ever needed to transition your feature set? Without having to purchase expensive support contracts? We pride ourselves not only on our functionality</p>
					<p><a href="#link" class="btn btn-default">Learn More »</a></p>
				</div>
				<div class="col-sm-6 col-md-3">
					<h3><i class="fa fa-globe"></i> Experience</h3>
					<img class="img-responsive img-thumbnail" data-src="holder.js/400x200/#2A2F37:#ffffff/auto/" alt="img">
					<p>Have you ever needed to transition your feature set? Without having to purchase expensive support contracts? We pride ourselves not only on our functionality</p>
					<p><a href="#link" class="btn btn-default">Learn More »</a></p>
				</div>
			</div><!-- /.row -->
		</div><!-- /.container -->
	</section>

	<!-- Features -->
	<section class="wrapper-lg">
		<div class="container">
			<div class="row">
				<div class="col-sm-6">
					<img class="img-responsive img-thumbnail" data-src="holder.js/600x300/auto/" alt="img" />
				</div><!-- /.col -->
				<div class="col-sm-6">
					<h2>Cross Platform Functionality:</h2>
					<p class="lead">Even better than before</p>
					<p><i class="fa fa-anchor"></i> We here at Graphikaria think we know that it is better to target micro-mega-proactively than to streamline efficiently. It sounds unbelievable, but it's true! We have come to know that if you embrace efficiently.</p>
					<p><i class="fa fa-bolt"></i> We here at Graphikaria think we know that it is better to target micro-mega-proactively than to streamline efficiently. It sounds unbelievable, but it's true! We have come to know that if you embrace efficiently.</p>
					<p><a href="#link" class="btn btn-lg btn-primary"><i class="fa fa-bullhorn"></i> Learn More »</a></p>
				</div><!-- /.col -->
			</div><!-- /.row -->
		</div><!-- /.container -->
	</section>

	<section class="wrapper-lg bg-primary">
		<div class="container">
			<div class="row">
				<div class="col-sm-6">
					<h2>Responsive Design Everywhere:</h2>
					<p class="lead">Enjoy from any major browser</p>
					<p><i class="fa fa-anchor"></i> We here at Graphikaria think we know that it is better to target micro-mega-proactively than to streamline efficiently. It sounds unbelievable, but it's true! We have come to know that if you embrace efficiently.</p>
					<p><i class="fa fa-bolt"></i> We here at Graphikaria think we know that it is better to target micro-mega-proactively than to streamline efficiently. It sounds unbelievable, but it's true! We have come to know that if you embrace efficiently.</p>
					<p><a href="#link" class="btn btn-lg btn-default"><i class="fa fa-briefcase"></i> Learn More »</a></p>
				</div><!-- /.col -->
				<div class="col-sm-6">
					<img class="img-responsive img-thumbnail" data-src="holder.js/600x300/auto/" alt="img" />
				</div><!-- /.col -->
			</div><!-- /.row -->
		</div><!-- /.container -->
	</section>

	<section class="wrapper-lg">
		<div class="container">
			<div class="row">
				<div class="col-sm-6">
					<img class="img-responsive img-thumbnail" data-src="holder.js/600x300/auto/" alt="img" />
				</div><!-- /.col -->
				<div class="col-sm-6">
					<h2>Ultra Simple Modular Design:</h2>
					<p class="lead">Simplicity is the ultimate sophistication</p>
					<p><i class="fa fa-anchor"></i> We here at Graphikaria think we know that it is better to target micro-mega-proactively than to streamline efficiently. It sounds unbelievable, but it's true! We have come to know that if you embrace efficiently.</p>
					<p><i class="fa fa-bolt"></i> We here at Graphikaria think we know that it is better to target micro-mega-proactively than to streamline efficiently. It sounds unbelievable, but it's true! We have come to know that if you embrace efficiently.</p>
					<p><a href="#link" class="btn btn-lg btn-primary"><i class="fa fa-bolt"></i> Learn More »</a></p>
				</div><!-- /.col -->
			</div><!-- /.row -->
		</div><!-- /.container -->
	</section>

	<section class="wrapper-lg bg-highlight">
		<div class="container">
			<h2 class="text-center">Latest from the blog:</h2>
			<br class="spacer-lg">
			<div class="row">
				<div class="col-xs-6 col-md-3">
					<div class="thumbnail text-center">
						<div class="overlay-container">
							<img src="assets/img/item-large.jpg">
							<div class="overlay-content">
								<h3 class="h4 headline">Thumbnail Title</h3>
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid amet consctetur.</p>
								<a href="#link" class="btn btn-primary">View Now »</a>
							</div><!-- /.overlay-content -->
						</div><!-- /.overlay-container -->
						<div class="caption">
							<h4><a href="#link">Responsive trends »</a></h4>
						</div><!-- /.caption -->
					</div><!-- /.thumbnail -->
				</div><!-- /.col -->
				<div class="col-xs-6 col-md-3">
					<div class="thumbnail text-center">
						<div class="overlay-container">
							<img src="assets/img/item-large.jpg">
							<div class="overlay-content">
								<h3 class="h4 headline">Thumbnail Title</h3>
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid amet consctetur.</p>
								<a href="#link" class="btn btn-primary">View Now »</a>
							</div><!-- /.overlay-content -->
						</div><!-- /.overlay-container -->
						<div class="caption">
							<h4><a href="#link">Responsive trends »</a></h4>
						</div><!-- /.caption -->
					</div><!-- /.thumbnail -->
				</div><!-- /.col -->
				<div class="col-xs-6 col-md-3">
					<div class="thumbnail text-center">
						<div class="overlay-container">
							<img src="assets/img/item-large.jpg">
							<div class="overlay-content">
								<h3 class="h4 headline">Thumbnail Title</h3>
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid amet consctetur.</p>
								<a href="#link" class="btn btn-primary">View Now »</a>
							</div><!-- /.overlay-content -->
						</div><!-- /.overlay-container -->
						<div class="caption">
							<h4><a href="#link">Responsive trends »</a></h4>
						</div><!-- /.caption -->
					</div><!-- /.thumbnail -->
				</div><!-- /.col -->
				<div class="col-xs-6 col-md-3">
					<div class="thumbnail text-center">
						<div class="overlay-container">
							<img src="assets/img/item-large.jpg">
							<div class="overlay-content">
								<h3 class="h4 headline">Thumbnail Title</h3>
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid amet consctetur.</p>
								<a href="#link" class="btn btn-primary">View Now »</a>
							</div><!-- /.overlay-content -->
						</div><!-- /.overlay-container -->
						<div class="caption">
							<h4><a href="#link">Responsive trends »</a></h4>
						</div><!-- /.caption -->
					</div><!-- /.thumbnail -->
				</div><!-- /.col -->
			</div><!-- /.row -->
			<br class="spacer-lg">
			<p class="text-center"><a href="#link" class="btn btn-lg btn-primary">View All Items »</a></p>
		</div><!-- /.container -->
	</section>

	<section class="wrapper-lg bg-info">
		<div class="container">
			<div class="row">
				<div class="col-sm-12 text-center">
					<i class="fa fa-lock fa-4x"></i>
					<br class="spacer-lg">
					<h3>Sign up for a Beta invite:</h3>
					<p class="lead">Be the first of your peers to enter the private beta!</p>
					<form class="form-inline" role="form">
						<div class="form-group group-has-icon">
							<label class="sr-only" for="example-email">Email address</label>
							<input type="email" class="form-control input-lg" id="example-email" placeholder="Enter email">
							<i class="fa fa-fw fa-envelope-o"></i>
						</div>
						<div class="form-group group-has-icon">
							<label class="sr-only" for="example-password">Password</label>
							<input type="password" class="form-control input-lg" id="example-password" placeholder="Password">
							<i class="fa fa-fw fa-lock"></i>
						</div>
						<button type="submit" class="btn btn-lg btn-default">Sign Up</button>
					</form>
				</div><!-- /.col -->
			</div><!-- /.row -->
		</div><!-- /.container -->
	</section>

	<section class="wrapper-lg bg-highlight">
		<div class="container">
			<h2 class="text-center">Blockquote Testimonials:</h2>
			<br class="spacer-lg">
			<div class="row">
				<div class="col-md-4">
					<blockquote class="blockquote-default">
						<p>I don't need tests, tests are for people who write bugs. If you know what I mean.</p>
						<footer>
							<img class="quote-author" src="assets/img/user.jpg" alt="img">
							<a href="#link"><small><cite>Cooper Black<br> Chicago, Illinois USA</cite></small></a>
						</footer>
					</blockquote>
				</div><!-- /.col -->
				<div class="col-md-4">
					<blockquote class="blockquote-default">
						<p>I heard jQuery launched a credit card called "technical debt". Bet you know what I'm talking about.</p>
						<footer>
							<img class="quote-author" src="assets/img/user.jpg" alt="img">
							<a href="#link"><small><cite>Gill Sans<br> West Sussex, England</cite></small></a>
						</footer>
					</blockquote>
				</div><!-- /.col -->
				<div class="col-md-4">
					<blockquote class="blockquote-default">
						<p>Done being a programmer.  From now on I want to be called a Data Scientist.</p>
						<footer>
							<img class="quote-author" src="assets/img/user.jpg" alt="img">
							<a href="#link"><small><cite>Calisto MT<br> London, England</cite></small></a>
						</footer>
					</blockquote>
				</div><!-- /.col -->
			</div><!-- /.row -->
		</div><!-- /.container -->
	</section>

	<!-- Sponsors -->
	<section class="wrapper-lg">
		<div class="container">
			<h2 class="text-center">We are trusted by:</h2>
			<br class="spacer-lg">
			<div class="row">
				<div class="col-sm-4 col-md-2">
					<a href="#link"><img class="img-responsive img-thumbnail" data-src="holder.js/200x100/text:Sponsor/auto/" alt="img"></a>
				</div>
				<div class="col-sm-4 col-md-2">
					<a href="#link"><img class="img-responsive img-thumbnail" data-src="holder.js/200x100/text:Sponsor/auto/" alt="img"></a>
				</div>
				<div class="col-sm-4 col-md-2">
					<a href="#link"><img class="img-responsive img-thumbnail" data-src="holder.js/200x100/text:Sponsor/auto/" alt="img"></a>
				</div>
				<div class="col-sm-4 col-md-2">
					<a href="#link"><img class="img-responsive img-thumbnail" data-src="holder.js/200x100/text:Sponsor/auto/" alt="img"></a>
				</div>
				<div class="col-sm-4 col-md-2">
					<a href="#link"><img class="img-responsive img-thumbnail" data-src="holder.js/200x100/text:Sponsor/auto/" alt="img"></a>
				</div>
				<div class="col-sm-4 col-md-2">
					<a href="#link"><img class="img-responsive img-thumbnail" data-src="holder.js/200x100/text:Sponsor/auto/" alt="img"></a>
				</div><!-- /.col -->
			</div><!-- /.row -->
		</div><!-- /.container -->
	</section>

	<section class="wrapper-md bg-primary">
		<div class="container">
			<div class="row">
				<div class="col-sm-12 text-center">
					<p class="lead no-margin-bottom">Beautiful web design for first class demands <a href="#link" class="btn btn-lg btn-info">Learn More »</a></p>
				</div><!-- /.col -->
			</div><!-- /.row -->
		</div><!-- /.container -->
	</section>

	<!-- Footer -->
	<footer class="footer-container">
		<section class="footer-primary">
			<div class="container">
				<div class="row">
					<div class="col-sm-6 col-md-3">
						<h3>Footer Component</h3>
						<p>Choose from our favourite tags:</p>
						<ul class="tags">
							<li><a href="#link">design</a></li>
							<li><a href="#link">layout</a></li>
							<li><a href="#link">stack</a></li>
							<li><a href="#link">PSD</a></li>
							<li><a href="#link">bootstrap</a></li>
							<li><a href="#link">menu</a></li>
							<li><a href="#link">type</a></li>
							<li><a href="#link">paper</a></li>
							<li><a href="#link">press</a></li>
						</ul>
					</div><!-- /.col -->
					<div class="col-sm-6 col-md-3">
						<h3>Image Stream List</h3>
						<p>View our latest stills in Flicker:</p>
						<ul class="img-stream">
							<li><a href="#link"><img class="media-object" data-src="holder.js/55x55" alt="img"></a></li>
							<li><a href="#link"><img class="media-object" data-src="holder.js/55x55" alt="img"></a></li>
							<li><a href="#link"><img class="media-object" data-src="holder.js/55x55" alt="img"></a></li>
							<li><a href="#link"><img class="media-object" data-src="holder.js/55x55" alt="img"></a></li>
							<li><a href="#link"><img class="media-object" data-src="holder.js/55x55" alt="img"></a></li>
							<li><a href="#link"><img class="media-object" data-src="holder.js/55x55" alt="img"></a></li>
							<li><a href="#link"><img class="media-object" data-src="holder.js/55x55" alt="img"></a></li>
							<li><a href="#link"><img class="media-object" data-src="holder.js/55x55" alt="img"></a></li>
						</ul>
					</div><!-- /.col -->
					<div class="col-sm-6 col-md-3">
						<h3>Hyperlinks List</h3>
						<p>Contact us whenever you want:</p>
						<ul class="list-unstyled">
							<li><i class="fa fa-angle-right"></i> <a href="#link">9am-6pm ET Mon-Fri</a></li>
							<li><i class="fa fa-angle-right"></i> <a href="#link">US (877) 977-8732</a></li>
							<li><i class="fa fa-angle-right"></i> <a href="#link">International +1 646 490 1679</a></li>
						</ul>
					</div><!-- /.col -->
					<div class="col-sm-6 col-md-3">
						<h3>Social Media List</h3>
						<p>Stick to the social media hype:</p>
						<ul class="social-networks">
							<li><a class="btn btn-twitter" href="#link"><i class="fa fa-fw fa-twitter"></i></a></li>
							<li><a class="btn btn-facebook" href="#link"><i class="fa fa-fw fa-facebook"></i></a></li>
							<li><a class="btn btn-google-plus" href="#link"><i class="fa fa-fw fa-google-plus"></i></a></li>
							<li><a class="btn btn-pinterest" href="#link"><i class="fa fa-fw fa-pinterest"></i></a></li>
						</ul>
						<p>We are friendly. Give us a ding!</p>
					</div><!-- /.col -->
				</div><!-- /.row -->
			</div><!-- /.container -->
		</section><!-- /.wrapper-sm -->
		<section class="footer-secondary">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<p>All Rights Reserved ® Designed by <a href="http://twitter.com/graphikaria" target="_blank">@Graphikaria</a></p>
					</div><!-- /.col -->
				</div><!-- /.row -->
			</div><!-- /.container -->
		</section><!-- /.wrapper-sm.footer-secondary -->
	</footer>