	<!-- Main Navbar -->
	<nav class="navbar navbar-inverse navbar-static-top" role="navigation">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="index.html">
					<img src="assets_new/img/logo-light.png" alt="Website Logo">
				</a>
			</div>
			<!-- Navbar -->
			<div class="collapse navbar-collapse navbar-main-collapse">
				<ul class="nav navbar-nav">
					
					<li class="active">
						<a href="#/" class="dropdown-toggle" data-toggle="dropdown">Home</a>
					</li>
				</ul><!-- /.navbar-nav -->
			</div><!-- /.collapse -->
		</div><!-- /.container -->
	</nav><!-- /.navbar -->

	<section class="wrapper-lg bg-info">
		<div class="container">
			<h1 class="text-center"><i class="fa fa-bullhorn"></i> Introducing the all new bootstrap experience</h1>
			<hr>
			<br class="spacer-lg">
			<div class="row">
				<div class="col-sm-6">
					<h3>Login</h3>
					<form role="form" ng-submit="signIn(userForm.$valid)" name ="new_registration">
						<div class="form-group">
							<label for="username">Username<span class="text-danger"> *</span></label>
							<input type="text" class="form-control input-lg" id="username" placeholder="User Name" name="username"  ng-model="signin.username" 
							   ng-minlength="1" ng-maxlength="40" required>
						</div>
						<div class="form-group">
							<label for="login_password">Password</label>
                            <input type="password" class="form-control input-lg" id="login_password" name="login_password" ng-model="signin.password" placeholder="Password" required>
						</div>
						<button type="submit" class="btn btn-lg btn-danger">Login</button>
					</form>
					<br class="spacer-md">
				</div><!-- /.col -->
				<div class="col-sm-6">
					<h3>Create an account to access content!</h3>
					<form role="form" ng-submit="newRegistration(userForm.$valid)" name ="new_registration">
						<div class="form-group">
							<label for="researchname">First Name<span class="text-danger"> *</span></label>
							<input type="text" class="form-control input-lg" id="firstname" placeholder="First Name" name="firstname"  ng-model="registration.firstname" 
								   ng-minlength="1" ng-maxlength="40" required>
						</div>
						<div class="form-group">
							<label for="propertyname">Last Name</label>
                            <input type="text" class="form-control input-lg" id="lastname" name="lastname" ng-model="registration.lastname" placeholder="Last Name" >
						</div>
						<div class="form-group">
							<label for="propertyname">E-Mail<span class="text-danger"> *</span></label>
                            <input type="email" class="form-control input-lg" id="email" name="email" ng-model="registration.email" placeholder="E-Mail" required>
						</div>
						<div class="form-group">
							<label for="propertyname">User Name<span class="text-danger"> *</span></label>
                            <input type="text" class="form-control input-lg" id="username" name="username" ng-model="registration.username" placeholder="User Name" required >
						</div>
						<div class="form-group">
							<label for="propertyname">Password</label>
                            <input type="password" class="form-control input-lg" id="password" name="password" ng-model="registration.password" placeholder="Password" required>
						</div>
						<div class="form-group">
							<label for="propertyname">Confirm Password</label>
							<input type="password" class="form-control input-lg" id="confirmpassowrd" name="confirmpassowrd" ng-model="registration.confirmpassowrd" placeholder="Confirm Password" pw-check="password" >
								
							<div class="msg-block" ng-show="new_registration.$error">
								<span class="msg-error" ng-show="new_registration.confirmpassowrd.$error.pwmatch">
									Passwords don't match.
								</span>
							</div>
						</div>
						<button id="submit" type="submit" class="btn btn-lg btn-danger" ng-disabled="!new_registration.$valid">Create Account!</button>
					</form>
					<br class="spacer-md">
				</div><!-- /.col -->
			</div><!-- /.row -->
		</div><!-- /.container -->
	</section>

	<section class="wrapper-lg">
		<div class="container text-center">
			<h2>How it works?</h2>
			<br class="spacer-lg">
			<div class="row">
				<div class="col-sm-4">
					<span class="fa-stack fa-3x">
						<i class="fa fa-circle fa-stack-2x"></i>
						<i class="fa fa-pencil fa-stack-1x fa-inverse"></i>
					</span>
					<h4>1. Subscribe to the List</h4>
					<p>Clean &amp; fully commented code and a stunning documentation make it very easy to setup</p>
				</div><!-- /.col -->
				<div class="col-sm-4">
					<span class="fa-stack fa-3x">
						<i class="fa fa-circle fa-stack-2x"></i>
						<i class="fa fa-envelope fa-stack-1x fa-inverse"></i>
					</span>
					<h4>2. Confirm your email</h4>
					<p>Clean &amp; fully commented code and a stunning documentation make it very easy to setup</p>
				</div><!-- /.col -->
				<div class="col-sm-4">
					<span class="fa-stack fa-3x">
						<i class="fa fa-circle fa-stack-2x"></i>
						<i class="fa fa-cloud-download fa-stack-1x fa-inverse"></i>
					</span>
					<h4>3. Download your subscription</h4>
					<p>Clean &amp; fully commented code and a stunning documentation make it very easy to setup</p>
				</div><!-- /.col -->
			</div><!-- /.row -->
		</div><!-- /.container -->
	</section>

	<section class="wrapper-lg bg-secondary">
		<div class="container">
			<div class="row">
				<div class="col-sm-4">
					<h2>Guaranteed features</h2>
					<ul class="list-unstyled lead">
						<li><i class="fa fa-check text-success"></i> Increase ROI</li>
						<li><i class="fa fa-check text-success"></i> Search Engine Optimization</li>
						<li><i class="fa fa-check text-success"></i> Catalog Management</li>
						<li><i class="fa fa-check text-success"></i> Product Browsing</li>
						<li><i class="fa fa-check text-success"></i> International Support</li>
						<li><i class="fa fa-check text-success"></i> Customer Service</li>
					</ul>
				</div>
				<div class="col-sm-8">
					<div class="well well-lg text-center">
						<h2 class="no-margin-bottom heading-default">
							Download our free sample
							<a href="#link" class="btn btn-lg btn-primary"><i class="fa fa-download"></i> Download</a>
						</h2>
					</div><!-- /.well -->
					<p class="lead">
						Graphikaria Platforms provide the scalability, <span class="text-warning">flexibility</span> and features for business growth. Graphikaria provides feature-rich eCommerce platforms that offer <span class="text-warning">merchants</span> complete flexibility and <span class="text-warning">control</span> over the presentation. <a class="text-success" href="#link">Read more »</a>
					</p>
				</div><!-- /.col -->
			</div><!-- /.row -->
		</div><!-- /.container -->
	</section>

	<section class="wrapper-lg">
		<div class="container">
			<h2 class="text-center">Product Photos</h2>
			<br class="spacer-lg">
			<div class="row">
				<div class="col-sm-3">
					<img class="img-responsive img-thumbnail" data-src="holder.js/400x300/auto/" alt="img" />
				</div><!-- /.col -->
				<div class="col-sm-3">
					<img class="img-responsive img-thumbnail" data-src="holder.js/400x300/auto/" alt="img" />
				</div><!-- /.col -->
				<div class="col-sm-3">
					<img class="img-responsive img-thumbnail" data-src="holder.js/400x300/auto/" alt="img" />
				</div><!-- /.col -->
				<div class="col-sm-3">
					<img class="img-responsive img-thumbnail" data-src="holder.js/400x300/auto/" alt="img" />
				</div><!-- /.col -->
			</div><!-- /.row -->
		</div><!-- /.container -->
	</section>

	<section class="wrapper-lg bg-highlight">
		<div class="container">
			<h2 class="text-center">Why you'll love our service</h2>
			<br class="spacer-lg">
			<div class="row">
				<div class="col-md-4">
					<div class="plan plan-light">
						<div class="plan-header">
							<h3>Starter Pack</h3>
						</div>
						<div class="plan-description">
							<p>Get a helping hand with our products in the members only premium area</p>
						</div>
						<div class="plan-price">
							<h1>$12 <small>/month</small></h1>
						</div>
						<ul class="plan-features">
							<li><i class="fa fa-check"></i> Unlimited Support <i class="fa fa-info-sign" data-toggle="tooltip" data-original-title="Restrictions apply"></i></li>
							<li><i class="fa fa-check"></i> Basic Options</li>
							<li><i class="fa fa-check"></i> 100GB Storage</li>
							<li><i class="fa fa-times"></i> Ad Free Streaming</li>
						</ul>
						<div class="plan-cta"> <!-- call to action -->
							<p>Unlimited ad-free streaming, unlimited viewers</p>
							<br class="spacer-md">
							<a href="#" class="btn btn-default btn-lg">Get it now! »</a>
						</div>
					</div><!-- /.plan -->
				</div><!-- /.col -->
				<div class="col-md-4">
					<div class="plan plan-light">
						<div class="plan-header">
							<h3>Starter Pack</h3>
						</div>
						<div class="plan-description">
							<p>Get a helping hand with our products in the members only premium area</p>
						</div>
						<div class="plan-price">
							<h1>$24 <small>/month</small></h1>
						</div>
						<ul class="plan-features">
							<li><i class="fa fa-check"></i> Unlimited Support <i class="fa fa-info-sign" data-toggle="tooltip" data-original-title="Restrictions apply"></i></li>
							<li><i class="fa fa-check"></i> Basic Options</li>
							<li><i class="fa fa-times"></i> 100GB Storage</li>
							<li><i class="fa fa-times"></i> Ad Free Streaming</li>
						</ul>
						<div class="plan-cta"> <!-- call to action -->
							<p>Unlimited ad-free streaming, unlimited viewers</p>
							<br class="spacer-md">
							<a href="#" class="btn btn-default btn-lg">Get it now! »</a>
						</div>
					</div><!-- /.plan -->
				</div><!-- /.col -->
				<div class="col-md-4">
					<div class="plan plan-light plan-featured">
						<div class="plan-header">
							<h3>Starter Pack</h3>
						</div>
						<div class="plan-description">
							<p>Get a helping hand with our products in the members only premium area</p>
						</div>
						<div class="plan-price">
							<h1>$48 <small>/month</small></h1>
						</div>
						<ul class="plan-features">
							<li><i class="fa fa-check"></i> Unlimited Support <i class="fa fa-info-sign" data-toggle="tooltip" data-original-title="Restrictions apply"></i></li>
							<li><i class="fa fa-times"></i> Basic Options</li>
							<li><i class="fa fa-times"></i> 100GB Storage</li>
							<li><i class="fa fa-times"></i> Ad Free Streaming</li>
						</ul>
						<div class="plan-cta"> <!-- call to action -->
							<p>Unlimited ad-free streaming, unlimited viewers</p>
							<br class="spacer-md">
							<a href="#" class="btn btn-primary btn-lg">Get it now! »</a>
						</div>
					</div><!-- /.plan -->
				</div><!-- /.col -->
			</div><!-- /.row -->
		</div><!-- /.container -->
	</section>

	<section class="wrapper-lg bg-success">
		<div class="container">
			<div class="row">
				<div class="col-sm-8 col-sm-offset-2 text-center">
					<h2>Need some advice?</h2>
					<p class="lead">Call us any time!</p>
					<p class="lead"><i class="fa fa-phone"></i> +001.123.456.789</p>
					<p><a href="#link" class="btn btn-lg btn-default">Contact Us Today!</a></p>
				</div>
			</div><!-- /.row -->
		</div><!-- /.container -->
	</section>

	<!-- Footer -->
	<footer class="footer-container">
		<section class="footer-primary">
			<div class="container">
				<div class="row">
					<div class="col-sm-6 col-md-3">
						<h3>Footer Component</h3>
						<p>Choose from our favourite tags:</p>
						<ul class="tags">
							<li><a href="#link">design</a></li>
							<li><a href="#link">layout</a></li>
							<li><a href="#link">stack</a></li>
							<li><a href="#link">PSD</a></li>
							<li><a href="#link">bootstrap</a></li>
							<li><a href="#link">menu</a></li>
							<li><a href="#link">type</a></li>
							<li><a href="#link">paper</a></li>
							<li><a href="#link">press</a></li>
						</ul>
					</div><!-- /.col -->
					<div class="col-sm-6 col-md-3">
						<h3>Image Stream List</h3>
						<p>View our latest stills in Flicker:</p>
						<ul class="img-stream">
							<li><a href="#link"><img class="media-object" data-src="holder.js/55x55" alt="img"></a></li>
							<li><a href="#link"><img class="media-object" data-src="holder.js/55x55" alt="img"></a></li>
							<li><a href="#link"><img class="media-object" data-src="holder.js/55x55" alt="img"></a></li>
							<li><a href="#link"><img class="media-object" data-src="holder.js/55x55" alt="img"></a></li>
							<li><a href="#link"><img class="media-object" data-src="holder.js/55x55" alt="img"></a></li>
							<li><a href="#link"><img class="media-object" data-src="holder.js/55x55" alt="img"></a></li>
							<li><a href="#link"><img class="media-object" data-src="holder.js/55x55" alt="img"></a></li>
							<li><a href="#link"><img class="media-object" data-src="holder.js/55x55" alt="img"></a></li>
						</ul>
					</div><!-- /.col -->
					<div class="col-sm-6 col-md-3">
						<h3>Hyperlinks List</h3>
						<p>Contact us whenever you want:</p>
						<ul class="list-unstyled">
							<li><i class="fa fa-angle-right"></i> <a href="#link">9am-6pm ET Mon-Fri</a></li>
							<li><i class="fa fa-angle-right"></i> <a href="#link">US (877) 977-8732</a></li>
							<li><i class="fa fa-angle-right"></i> <a href="#link">International +1 646 490 1679</a></li>
						</ul>
					</div><!-- /.col -->
					<div class="col-sm-6 col-md-3">
						<h3>Social Media List</h3>
						<p>Stick to the social media hype:</p>
						<ul class="social-networks">
							<li><a class="btn btn-twitter" href="#link"><i class="fa fa-fw fa-twitter"></i></a></li>
							<li><a class="btn btn-facebook" href="#link"><i class="fa fa-fw fa-facebook"></i></a></li>
							<li><a class="btn btn-google-plus" href="#link"><i class="fa fa-fw fa-google-plus"></i></a></li>
							<li><a class="btn btn-pinterest" href="#link"><i class="fa fa-fw fa-pinterest"></i></a></li>
						</ul>
						<p>We are friendly. Give us a ding!</p>
					</div><!-- /.col -->
				</div><!-- /.row -->
			</div><!-- /.container -->
		</section><!-- /.wrapper-sm -->
		<section class="footer-secondary">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<p>All Rights Reserved ® Designed by <a href="http://twitter.com/graphikaria" target="_blank">@Graphikaria</a></p>
					</div><!-- /.col -->
				</div><!-- /.row -->
			</div><!-- /.container -->
		</section><!-- /.wrapper-sm.footer-secondary -->
	</footer>
