	<section class="wrapper-md">
		<div class="container">
			<div class="row">
				<div class="col-xs-12 col-sm-6 col-sm-offset-3 text-center">
					<!-- Back to start -->
					<p>
						<a href="index.html" class="btn btn-lg btn-success">
							<i class="fa fa-arrow-circle-o-left"></i> Back to Start
						</a>
					</p>
					<!-- Widget -->
					<div class="widget padding-lg bg-dark">
						<img src="assets/img/logo-light.png" alt="img">
						<br class="spacer-md">
						<h1>Website is coming soon!</h1>
						<p class="lead">We're still tightening some nuts</p>
						<!-- The date count down -->
						<!-- the hour in data attribute is optional -->
						<ul class="countdown list-inline" data-date="2014/12/25 12:34:56"></ul>
						<div class="widget padding-lg bg-dark">
							<h4>Be the first to know!</h4>
							<p>
								<form class="form-inline" role="form">
									<div class="input-group group-has-icon">
										<input type="text" class="form-control" placeholder="Enter your email">
										<i class="fa fa-envelope"></i>
										<span class="input-group-btn">
											<button class="btn btn-primary" type="button">Subscribe Me!</button>
										</span>
									</div><!-- /input-group -->
								</form>
							</p>
							<p>You'll get the breaking news</p>
						</div><!-- /.widget -->
						<h4>Let's keep in touch</h4>
						<ul class="social-networks">
							<li><a class="btn btn-twitter" href="#link"><i class="fa fa-fw fa-twitter"></i></a></li>
							<li><a class="btn btn-facebook" href="#link"><i class="fa fa-fw fa-facebook"></i></a></li>
							<li><a class="btn btn-google-plus" href="#link"><i class="fa fa-fw fa-google-plus"></i></a></li>
							<li><a class="btn btn-pinterest" href="#link"><i class="fa fa-fw fa-pinterest"></i></a></li>
						</ul>
					</div><!-- /.widget -->
				</div><!-- /.col -->
			</div><!-- /.row -->
		</div><!-- /.container -->
	</section>
