	<!-- Main Navbar -->
	<nav class="navbar navbar-inverse navbar-static-top" role="navigation">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="index.html">
					<img src="assets/img/logo-light.png" alt="Website Logo">
				</a>
			</div>
			<!-- Navbar -->
			<div class="collapse navbar-collapse navbar-main-collapse">
				<ul class="nav navbar-nav">
					<li class="active">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">Home <b class="caret"></b></a>
						<ul class="dropdown-menu">
							<li><a href="index.html">Index</a></li>
							<li><a href="contact_1.html">Contact 1</a></li>
							<li><a href="contact_2.html">Contact 2</a></li>
						</ul>
					</li>
					<li class="dropdown">
						<a href="#link" class="dropdown-toggle" data-toggle="dropdown">Blog <b class="caret"></b></a>
						<ul class="dropdown-menu">
							<li><a href="blog_1.html">Large Preveiw</a></li>
							<li><a href="blog_2.html">Small Preview</a></li>
							<li><a href="blog_3.html">Magazine Grid</a></li>
							<li><a href="blog_4.html">Pinterest Grid</a></li>
							<li class="divider"></li>
							<li><a href="blog_post.html">Single Post</a></li>
							<li><a href="blog_post_2.html">Single Post 2</a></li>
						</ul>
					</li>
					<li class="dropdown">
						<a href="#link" class="dropdown-toggle" data-toggle="dropdown">Marketing <b class="caret"></b></a>
						<ul class="dropdown-menu">
							<li><a href="marketing_1.html">Lead Capture</a></li>
							<li><a href="marketing_2.html">Countdown</a></li>
						</ul>
					</li>
					<li class="dropdown">
						<a href="#link" class="dropdown-toggle" data-toggle="dropdown">Ecommerce <b class="caret"></b></a>
						<ul class="dropdown-menu">
							<li><a href="ecommerce_1.html">Large Thumbnails</a></li>
							<li><a href="ecommerce_2.html">Small Thumbnails</a></li>
							<li><a href="ecommerce_3.html">List Thumbnails</a></li>
							<li class="divider"></li>
							<li><a href="ecommerce_product.html">Product Page</a></li>
						</ul>
					</li>
					<li class="dropdown">
						<a href="#link" class="dropdown-toggle" data-toggle="dropdown">Portfolio <b class="caret"></b></a>
						<ul class="dropdown-menu">
							<li><a href="portfolio_showcase.html">Showcase</a></li>
							<li><a href="portfolio_item_1.html">Item Page 1</a></li>
							<li><a href="portfolio_item_2.html">Item Page 2</a></li>
						</ul>
					</li>
					<li><a href="style_guide.html">Components</a></li>
				</ul><!-- /.navbar-nav -->
			</div><!-- /.collapse -->
		</div><!-- /.container -->
	</nav><!-- /.navbar -->

	<section class="wrapper-lg">
		<div class="container">
			<div class="row">
				<div class="col-md-10 col-md-offset-1">
					<img class="img-responsive img-thumbnail" data-src="holder.js/1200x500/auto/" alt="img">
				</div><!-- /.col -->
			</div><!-- /.row -->
			<div class="row">
				<div class="col-md-5 col-md-offset-1">
					<dl class="dl-horizontal">
						<dt>Project:</dt>
						<dd>A description list is perfect for defining terms.</dd>
						<dt>Client:</dt>
						<dd>Vestibulum id ligula porta felis euismod semper eget lacinia odio sem nec elit.</dd>
						<dd>Donec id elit non mi porta gravida at eget metus.</dd>
						<dt>Scope:</dt>
						<dd>Etiam porta sem malesuada magna mollis euismod.</dd>
					</dl>
				</div><!-- /.col -->
				<div class="col-md-5">
					<h1 class="headline"><i class="fa fa-picture-o"></i> Pastel Art Project</h1>
					<p class="lead">A pinch of taste</p>
					<p>Web design is not just about making your brand or idea look pretty. We believe the overall aesthetics is key, but true web design is about effective communication. We seize the full potential the Web has to offer by embracing modern tools like HTML5 &amp; CSS3 to optimize your online experience for any device such as tablets &amp; smartphones.</p>
				</div><!-- /.col -->
			</div><!-- /.row -->
			<hr>
			<div class="row">
				<div class="col-md-6 col-md-offset-3 text-center">
					<p><a href="#link" class="btn btn-primary btn-lg"><i class="fa fa-cloud-download"></i> Download Sample</a></p>
					<br class="spacer-lg">
					<div class="well">
						<a href="#link" class="btn btn-facebook"><i class="fa fa-facebook-square"></i> Like</a>
						<a href="#link" class="btn btn-twitter"><i class="fa fa-twitter-square"></i> Tweet</a>
						<a href="#link" class="btn btn-google-plus"><i class="fa fa-google-plus-square"></i> +Plus</a>
						<a href="#link" class="btn btn-pinterest"><i class="fa fa-pinterest-square"></i> Pin it</a>
					</div>
					<ul class="pager">
						<li class="previous"><a href="#">&larr; Older</a></li>
						<li class="next"><a href="#">Newer &rarr;</a></li>
					</ul>
				</div><!-- /.col -->
			</div><!-- /.row -->
		</div><!-- /.container -->
	</section>

	<section class="wrapper-lg bg-highlight">
		<div class="container">
			<h2 class="headline">Related projects:</h2>
			<p class="lead">Things you might find interesting.</p>
			<br class="spacer-lg">
			<div class="row">
				<div class="col-sm-3">
					<div class="thumbnail thumbnail-frameless text-center">
						<div class="overlay-container">
							<img src="assets/img/item-small.jpg">
							<div class="overlay-content">
								<h3 class="h4 headline">Thumbnail Title</h3>
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid amet consctetur.</p>
							</div><!-- /.overlay-content -->
						</div><!-- /.overlay-container -->
						<div class="caption">
							<h4 class="headline"><a href="#link">Responsive trends »</a></h4>
							<p><small class="text-muted"><i class="fa fa-clock-o"></i> Oct 3, 2014</small></p>
						</div><!-- /.caption -->
					</div><!-- /.thumbnail -->
				</div><!-- /.col -->
				<div class="col-sm-3">
					<div class="thumbnail thumbnail-frameless text-center">
						<div class="overlay-container">
							<img src="assets/img/item-small.jpg">
							<div class="overlay-content">
								<h3 class="h4 headline">Thumbnail Title</h3>
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid amet consctetur.</p>
							</div><!-- /.overlay-content -->
						</div><!-- /.overlay-container -->
						<div class="caption">
							<h4 class="headline"><a href="#link">Responsive trends »</a></h4>
							<p><small class="text-muted"><i class="fa fa-clock-o"></i> Oct 3, 2014</small></p>
						</div><!-- /.caption -->
					</div><!-- /.thumbnail -->
				</div><!-- /.col -->
				<div class="col-sm-3">
					<div class="thumbnail thumbnail-frameless text-center">
						<div class="overlay-container">
							<img src="assets/img/item-small.jpg">
							<div class="overlay-content">
								<h3 class="h4 headline">Thumbnail Title</h3>
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid amet consctetur.</p>
							</div><!-- /.overlay-content -->
						</div><!-- /.overlay-container -->
						<div class="caption">
							<h4 class="headline"><a href="#link">Responsive trends »</a></h4>
							<p><small class="text-muted"><i class="fa fa-clock-o"></i> Oct 3, 2014</small></p>
						</div><!-- /.caption -->
					</div><!-- /.thumbnail -->
				</div><!-- /.col -->
				<div class="col-sm-3">
					<div class="thumbnail thumbnail-frameless text-center">
						<div class="overlay-container">
							<img src="assets/img/item-small.jpg">
							<div class="overlay-content">
								<h3 class="h4 headline">Thumbnail Title</h3>
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid amet consctetur.</p>
							</div><!-- /.overlay-content -->
						</div><!-- /.overlay-container -->
						<div class="caption">
							<h4 class="headline"><a href="#link">Responsive trends »</a></h4>
							<p><small class="text-muted"><i class="fa fa-clock-o"></i> Oct 3, 2014</small></p>
						</div><!-- /.caption -->
					</div><!-- /.thumbnail -->
				</div><!-- /.col -->
			</div><!-- /.row -->
		</div><!-- /.container -->
	</section>

	<!-- Footer -->
	<footer class="footer-container">
		<section class="footer-primary">
			<div class="container">
				<div class="row">
					<div class="col-sm-6 col-md-3">
						<h3>Footer Component</h3>
						<p>Choose from our favourite tags:</p>
						<ul class="tags">
							<li><a href="#link">design</a></li>
							<li><a href="#link">layout</a></li>
							<li><a href="#link">stack</a></li>
							<li><a href="#link">PSD</a></li>
							<li><a href="#link">bootstrap</a></li>
							<li><a href="#link">menu</a></li>
							<li><a href="#link">type</a></li>
							<li><a href="#link">paper</a></li>
							<li><a href="#link">press</a></li>
						</ul>
					</div><!-- /.col -->
					<div class="col-sm-6 col-md-3">
						<h3>Image Stream List</h3>
						<p>View our latest stills in Flicker:</p>
						<ul class="img-stream">
							<li><a href="#link"><img class="media-object" data-src="holder.js/55x55" alt="img"></a></li>
							<li><a href="#link"><img class="media-object" data-src="holder.js/55x55" alt="img"></a></li>
							<li><a href="#link"><img class="media-object" data-src="holder.js/55x55" alt="img"></a></li>
							<li><a href="#link"><img class="media-object" data-src="holder.js/55x55" alt="img"></a></li>
							<li><a href="#link"><img class="media-object" data-src="holder.js/55x55" alt="img"></a></li>
							<li><a href="#link"><img class="media-object" data-src="holder.js/55x55" alt="img"></a></li>
							<li><a href="#link"><img class="media-object" data-src="holder.js/55x55" alt="img"></a></li>
							<li><a href="#link"><img class="media-object" data-src="holder.js/55x55" alt="img"></a></li>
						</ul>
					</div><!-- /.col -->
					<div class="col-sm-6 col-md-3">
						<h3>Hyperlinks List</h3>
						<p>Contact us whenever you want:</p>
						<ul class="list-unstyled">
							<li><i class="fa fa-angle-right"></i> <a href="#link">9am-6pm ET Mon-Fri</a></li>
							<li><i class="fa fa-angle-right"></i> <a href="#link">US (877) 977-8732</a></li>
							<li><i class="fa fa-angle-right"></i> <a href="#link">International +1 646 490 1679</a></li>
						</ul>
					</div><!-- /.col -->
					<div class="col-sm-6 col-md-3">
						<h3>Social Media List</h3>
						<p>Stick to the social media hype:</p>
						<ul class="social-networks">
							<li><a class="btn btn-twitter" href="#link"><i class="fa fa-fw fa-twitter"></i></a></li>
							<li><a class="btn btn-facebook" href="#link"><i class="fa fa-fw fa-facebook"></i></a></li>
							<li><a class="btn btn-google-plus" href="#link"><i class="fa fa-fw fa-google-plus"></i></a></li>
							<li><a class="btn btn-pinterest" href="#link"><i class="fa fa-fw fa-pinterest"></i></a></li>
						</ul>
						<p>We are friendly. Give us a ding!</p>
					</div><!-- /.col -->
				</div><!-- /.row -->
			</div><!-- /.container -->
		</section><!-- /.wrapper-sm -->
		<section class="footer-secondary">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<p>All Rights Reserved ® Designed by <a href="http://twitter.com/graphikaria" target="_blank">@Graphikaria</a></p>
					</div><!-- /.col -->
				</div><!-- /.row -->
			</div><!-- /.container -->
		</section><!-- /.wrapper-sm.footer-secondary -->
	</footer>