

	<!-- Carousel -->
	<div id="my-carousel" class="carousel slide no-margin-bottom">
		<!-- indicators -->
		<ol class="carousel-indicators">
			<li data-target="#my-carousel" data-slide-to="0" class="active"></li>
			<li data-target="#my-carousel" data-slide-to="1"></li>
		</ol>
		<!-- carousel -->
		<div class="carousel-inner">
			<div class="item active">
				<img src="assets_new/img/slide-1.jpg" alt="img">
				<div class="carousel-caption visible-lg">
					<h1 class="heading-lg"></h1>
					<p class="lead"></p><br>
				</div><!-- /.carousel-caption -->
			</div><!-- /.item -->
			
	</div><!-- /.carousel -->

	